@use "./../base/variables";
@use "./../utils/mixins";

.accommodation-info {
  @include mixins.flex-col;

  gap: 25px;
  margin-top: 30px;

  h1 {
    font-size: 36px;
    font-weight: 500;
    color: variables.$primary-color;
    margin: 0;
  }

  h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }

  > div {
    @include mixins.flex-row;

    justify-content: space-between;
  }

  .host-info {
    @include mixins.flex-row;

    align-items: center;
    gap: 10px;
    margin-top: -6px;

    h4 {
      text-align: right;
      color: variables.$primary-color;
    }

    img {
      border-radius: 99%;
      height: 64px;
    }
  }

  .tags {
    @include mixins.flex-row;

    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  .rating {
    margin-top: 20px;
  }

  .tag {
    $height: 25px;

    height: $height;
    padding: 0 30px;
    border-radius: 10px;
    background-color: variables.$primary-color;
    font-size: 14px;
    font-weight: 700;
    line-height: $height;
    color: variables.$tertiary-color;
    text-align: center;
    white-space: nowrap;
  }

  .dropdowns-wrapper {
    @include mixins.flex-row;

    gap: 76px;

    .dropdown:last-of-type {
      white-space: pre;
    }
  }

  @media screen and (max-width: variables.$breakpoint-mobile) {
    max-width: variables.$mobile-max-width;
    margin: 0 20px 27px;
    gap: 13px;

    h1 {
      font-size: 18px;
      margin-top: 15px;
    }

    h4 {
      font-size: 14px;
      margin-top: 5px;
    }

    > div {
      flex-direction: column;

      > div:last-of-type {
        @include mixins.flex-row;
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }

    .dropdowns-wrapper {
      flex-direction: column;
      gap: 20px;

      .dropdown {
        display: block;
        flex-direction: row;
      }
    }

    .tag {
      $height: 18px;

      height: $height;
      font-size: 10px;
      line-height: $height;
      border-radius: 5px;
      padding: 0 22px;
    }

    .host-info {
      flex-wrap: wrap;
      height: 40px;
      margin-top: 12px;

      h4 {
        font-size: 12px;
      }

      img {
        height: 32px;
      }
    }
  }
}
